{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<p>Here are developer Links</p>
<p><a href="http://theplayer11224.pythonanywhere.com"><input value='TranslateAnotherPhrase(global)' type='button'></a></p>
<p><a href="http://theplayer11224.pythonanywhere.com/errorlog"><input value='ErrorLog(global)' type='button'></a></p>
<p><a href="http://theplayer11224.pythonanywhere.com/sourceCode"><input value='sourceCode(global)' type='button'></a></p>
<p><a href="http://theplayer11224.pythonanywhere.com/viewlog"><input value='viewLog(global)' type='button'></a></p>
<p><a href="http://theplayer11224.pythonanywhere.com/login"><input value='login(global)' type='button'></a></p>
<p><a href="http://theplayer11224.pythonanywhere.com/logout"><input value='logout(global)' type='button'></a></p>
{% endblock %}
